<!-- <table>
  <tr>
    <th>Id</th><th>Title</th><th>Description</th><th></th><th></th><th></th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.id %></td>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= link_to 'Show', task_path(task) %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Delete', task_path(task), method: :delete %></td>
  </tr>
  <% end %>
</table> -->
<!-- 
<p>Find me in app/vlink_toiews/tasks/index.html.erb</p> -->
<header>
    <div class="input">
    <p>> New Capsule.</p>
    </div>

    <div class="header-form-container">
    <%= form_for(@task) do |f| %>
    <table class="form_box">
    <div>
      <tr>
      <td class="labels"><%= f.label :title, "内容:" %></td>
      <td><%= f.text_field :title, :class=>"field" %></td>
      <td class="slidein"><%= image_tag("slideup.png" ,:class => "icon_slide")%></td>
    </tr>
    </div>

    <tr>
    <div>
      <td class="labels"><%= f.label :taeget_at, "期日:" %></td>
      <td class="select"><%= f.date_select :target_at %></td>
    </div>
    </tr>



    <tr>
    <div>
      <td class="labels"><%= f.label :description, "伝言:" %></td>
      <td><%= f.text_area :description , :class=>"area"%></td>
    </div>
    <div>
      <td class="bury_box"><%= f.submit 'Bury.', :class=>"bury" %></td>
    </div>
    </tr>

    </div>
    <% end %>
  </table>
  </div>


  <table>
    <td>
  <span class="message_del">
    Do you really want to delete?
  </span>
  </td>

  <td>
  <% if @taskParam %>
  <%= button_to task_path(@taskParam), method: :delete do%>
  <span class="message_del_but">
    Delete
  </span>
  <% end %>
  <% end %>
  </td>
  </table>


    

  </header>

  <div class="capsule">
    <% if @taskParam %>
    <p class="content">内容：<span class="content_m"><%= @taskParam.title %></span></p>
    <%= image_tag("slideup.png" ,:class => "icon_fade")%>
    <span class="limit">期日：
      <span class="month_m">
      <% if @taskParam.target_at %>
      <%= @taskParam.target_at.month %>
        <% end %>
      </span>月<span class="day_m">
        <% if @taskParam.target_at %>
      <%= @taskParam.target_at.day %>
      <% end %>
    </span>日</span>
    <span class="count">あと<span class="count_m">
    <% if @taskParam.target_at %>
      <% @taskParam.target_at.to_date %>
      <% @goal = @taskParam.target_at.to_date - Date.today %>
      <%if @goal.to_i > 0 %>
        <%= @goal.to_i %>
        <% else %>
        0
        <%end%>
    <% end %>
  </span>日</span>
    <p class="but_bury">Dig.</p>
    <% end %>
  </div>

<div class="backblack">
</div>


  <%if @taskParam%>
  <div class="past_box">

    <div class="relative">
      <%= image_tag("past_message.png" ,:class => "past_message")%>
      <%= image_tag("past.png" ,:class => "past_hum")%>
      <p class="you">
        <span class="month_m">
      <% if @taskParam.created_at %>
      <%= @taskParam.created_at.month %>
        <% end %>
      </span>月
      <span class="day_m">
        <% if @taskParam.created_at %>
      <%= @taskParam.created_at.day %>
      <% end %>
    </span>日の<br>
      あなたからのお言葉
    </p>


    <% if @taskParam %>
    <%= button_to task_path(@taskParam), method: :delete do%>
    <span class="rec_but">Receive.</span>
    <% end %>
    <% end %>



    <p class="time_message">
      <% if @taskParam.description %>
      <%= @taskParam.description %>
      <% end %>
    </p>

    </div>

  </div>
  <% end %>

  <div>
  <div class="main">
    <% @tasks.each do |task| %>
      <div>
        <%= link_to(tasks_path(id: task.id)) do %>
        <% if task.title %>
          <% task_box = task.title.split(//) %>
          <span class=title1><%= task_box[0] %></span>
          <span class=title2><%= task_box[1] %></span>
        <% end %>
        <% if task.target_at %>
          <span class=month><%= task.target_at.month %></span>
          <span class=day><%= task.target_at.day %></span>
        <% end %>
        <% if task.target_at %>
        <% task.target_at.to_date %>
        <% count = task.target_at.to_date - Date.today %>
          <% if count.to_i > 0 %>
            <%= image_tag("wrap.png" ,:class => "wrap")%>
          <% end %>
          <% end %>

        <% end %>
      </div>
    <% end %>
  </div>


  
  <footer>
  <%= image_tag("back.png" ,:class => "icon_back")%>
  <%= image_tag("delate.png",:class => "icon_delate")%>

  <%= link_to image_tag("more.png" ,:class => "icon_more"),setting_top_path%>

  </footer>

  <script type="text/javascript">
    $(function(){
  $('.input').on('touchstart',function(){
    console.log("a");
    $(".header-form-container").slideDown();
    $(".input").slideUp(700);
    $(".icon_slide").fadeIn();
    $(".bury_box").fadeIn(1000);
    $(".capsule").fadeOut(500);
    $(".icon_delate").slideUp();
    $(".message_del").slideUp(600);
    $(".message_del_but").slideUp(600);
  }).css('cursor','pointer');



  $('.icon_delate').on('touchstart',function(){
    $(".message_del").slideDown(600);
    $(".message_del_but").slideDown(600);
  }).css('cursor','pointer');



  $('.slidein').on('touchstart',function(){
    $(".header-form-container").slideUp(600);
    $(".input").slideDown();
    $(".icon_slide").fadeOut(500);
    $(".bury_box").fadeOut(500);
  }).css('cursor','pointer');


$('.icon_fade').on('touchstart',function(){
    $(".capsule").fadeOut(500);
    $(".icon_delate").slideUp();
    $(".message_del").slideUp(600);
    $(".message_del_but").slideUp(600);
  }).css('cursor','pointer');



  $('.bury').on('touchstart',function(){
    $(".bury_box").fadeTo(300,0.1);
    $(".header-form-container").slideUp(1000);
    $(".input").slideDown();
    $(".icon_slide").fadeOut(500);
  }).css('cursor','pointer');


  var match = location.search.match(/id=(.*?)(&|$)/);
  console.log(match);

  if(match) {
      id = decodeURIComponent(match[1]);
      $(".capsule").fadeIn(500);
      $(".icon_delate").slideDown();
      $(".message_del").slideUp(600);
      $(".message_del_but").slideUp(600);
  }

  $('.icon_fade').on('touchstart',function(){
    $(".capsule").fadeOut(500);
    $(".icon_delate").slideUp();
    $(".message_del").slideUp(600);
    $(".message_del_but").slideUp(600);
  }).css('cursor','pointer');



  $('.but_bury').on('touchstart',function(){
    $(".bury_box").fadeTo(300,0.1);
    $(".header-form-container").slideUp(1000);
    $(".input").slideDown();
    $(".icon_slide").fadeOut(500);
    $(".capsule").fadeOut(500);
    $(".icon_delate").slideUp();
    $(".message_del").slideUp(600);
    $(".message_del_but").slideUp(600);
    $(".backblack").fadeIn();
    $(".past_box").fadeIn(1500);
  }).css('cursor','pointer');


  $('.rec_but').on('touchstart',function(){
    $(".past_box").fadeOut(600);
    $(".backblack").fadeOut(1000);
  }).css('cursor','pointer');
})

  </script>

